--extra-index-url https://download.pytorch.org/whl/cpu
flask
pandas
scikit-learn
sastrawi
nltk
matplotlib
wordcloud
ddgs
beautifulsoup4
requests
pytest
gunicorn
flask-sqlalchemy
transformers
torch
scipy
